node_modules
dist
build
.next
.nuxt
.expo
.env
.env.local
*.log
.DS_Store
coverage
.nyc_output

# Database
*.db
*.db-journal
prisma/dev.db*
prisma/schema.local.prisma

# Editor / Formatting
.cursorrules
.prettierrc
.prettierignore
.geminiignore

# Internal Project Docs
PROJECT_CONTEXT.md
PROJECT_GUIDELINES.md
PROJECT_SUMMARY.md
